<h4><span class="label label-primary">Unread messages</span></h4>
<div class="list-group">
  <% current_user.new_messages.page(params[:new_messages_page]).each do |message| %>
  <a class="list-group-item row" href="<%= conversation_path(friend_id: message.try(:sender).try(:id)) %>">
    <%= render message %>
  </a>
  <% end %>
</div>
<%= paginate current_user.new_messages.page(params[:new_messages_page]), param_name: 'new_messages_page' %>
